<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVCY-gVs24gAdKGGkconVPvI6c3BN_SUo</string>
	<key>GCM_SENDER_ID</key>
	<string>758304835285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainsprint</string>
	<key>PROJECT_ID</key>
	<string>brainsprint-bf985</string>
	<key>STORAGE_BUCKET</key>
	<string>brainsprint-bf985.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758304835285:ios:f9944da35dacb96961845c</string>
</dict>
</plist>